@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.snap-section {
  scroll-snap-align: start;
  min-height: 100vh;
  scroll-margin-top: 51px; 
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.snap-section.active {
  opacity: 1;
  transform: translateY(0);
}

.animated-gradient-line {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #00f2ff, #007aff, #00f2ff);
  background-size: 200% 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  animation: moveLine 1.6s ease-in-out infinite;
}

@keyframes moveLine {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#loading-pdf,
#loading-pdf1,
#loading-pdf2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  z-index: 10;
}